/* Los estilos de tu proyecto */

/* seteo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* estilos al header */
.container-navbar{
    height: 15vh;
    background-color: #ffffff;
    padding-top: 2em;
}

.container-navbar li{
    margin-right: 2em;
}
/* fin header */

/* section-taxi */
.section-taxi figure{
    background-image: url('../assets/images/taxi.jpg');
    height: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box-yellow{
    background-color: #f7b617;
    color: #ffffff;
}

.box-yellow button{
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}

img[alt="logo-blanco"]{
    width: 10vw;
}

/* fin section-taxi */

/* clases reutilizables */
.desktop{
    display: none;
}

.phone{
    display: block;
}

.title{
    text-align: center;
}

.sub-title{
    padding-left: 1em;
}

/* section phone */
.line-white{
    margin: 2em 1em;
    border: 1px solid #ffffff;
}

.box-phone{
    background-color: #f7b617;
    color: #ffffff;
}

img[alt="img-phone"]{
    width: 60vw;
    margin-left: 5em;
}


/* section driver */
.section-driver figure{
    background-image: url('../assets/images/conduce.jpg');
    height: 70vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.box-transparence{
    color: #ffffff;
    height: 70vh;
}

.box-transparence .phone, .box-transparence .desktop{
    position: relative;
    top: 13em;
}

.box-transparence button{
    border: none;
    background-color: #f7b617;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

@media screen and (min-width:991px){

    .desktop{
        display: block;
        padding: 4%;
    }

    .phone{
        display: none;
    }

    img[alt="logo-blanco"]{
        width: 6vw;
    }

    .line{
        width: 85%;
        margin: 4%;
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
        box-sizing: content-box;
        background-color: #ffffff;
    }
    
    .line::after{
        content: "O bien";
        padding: 0 2em;
        position: relative;
        bottom: 0.7em;
        left: 10em;
        font-size: 18px;
        color: #ffffff;
        display: inline-block;
        background-color: #f7b617
    }

    /* phone */
    .line-white{
        margin: 2em 1em;
        border: 1px solid #ffffff;
    }

    img[alt="img-phone"]{
        width: 20vw;
        position: relative;
        right: 30em;
        margin-left: 10em; 
    }
    
    .text{
        position: relative;
        right: -22em;
        font-size: 22px;
    }
}