/* Los estilos de tu proyecto */

/* seteo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos al header */
.container-navbar{
    height: 15vh;
    background-color: #ffffff;
    padding-top: 2em;
}

.container-navbar li{
    margin-right: 2em;
}

/* section-taxi */
.section-taxi figure{
    background-image: url('../assets/images/taxi.jpg');
    height: 100vh;
    background-position: center bottom;
    background-size: cover;
}

