/* Los estilos de tu proyecto */

/* seteo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos al header */
.navbar-fond{
    height: 15vh;
    background-color: #ffffff;
    padding-top: 2em;
    color: #000000;
}

.navbar-fond li{
    margin-right: 2em;
}

/* section-taxi */
.section-taxi figure{
    background-image: url('../assets/images/taxi.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}

.fond{
    background-color: #ffc107;
    height: 40vh;
    width: 50vw;
}

.fond-phone{
    background-color: #ffc107;
    text-align: center;
    border: 1px solid #000000;
    padding: 2em;
    /* display: flex; */
    /* justify-content: center; */
    
}

.fond-phone img{
    max-width: 80%;
    border: 1px solid #ffffff;
}




/* @media screen and (){
    
} */


